header, section, footer, aside, nav, main, article, figure {
    display: block; 
  }

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body{
    /*font-size: 18px;*/
    color: black;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
   
    /* max-width: 1920px; */
    
  }
  a{
    text-decoration: none;
    color: #000000;
  }
  .cover{
    /* max-width: 1544px; */
    margin: 0 auto;
    background: #f0f0f0;
  }
  /* style all title */
  .title{
    font-size: 25px; 
    text-align: center;
  }
  
  /* Header */
  .header{
      /* max-width: 1544px; */
      height: 80px;
      background-color: #a21527;
  }
  .header__content{
      /*width: 1140px;*/
      height: 60px;
      margin: 0 auto;
      word-spacing: -5px;
      position: relative;
      top: 20px;
      
  }
  .header__logo img{
    display: inline-block;
    width:70px;
    height: auto;
    position: relative;
    top: 10px;
    margin:0 30px 0 10px;
  }

  .header__input{
    padding-left: 10px;
     width: 750px;
     height: 40px;
     outline: none;
  }
  .header__search{
    width:85px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #480d15;
  }
  /* set icon color  */
  .icon , .icon a{
    color: white;
    
  }
  .header__icon{
      float: right;
      position: relative;
      top: 10px;
      font-size: 25px;
    }
@media screen and ( min-width: 765px ){
  .header{
    height: 50px;
  }
  .header__content{
    top: 10px;
    width: 700px;
  }
  .header__input{
    width: 300px;
    height: 20px;
  }
  .header__search{
    width:70px;
    height: 20px;
  }
  .header__logo img{
    width: 40px;
    top: 3px;
  }
  .header__icon{
    top: 5px;
    font-size: 15px;
  }
}
@media screen and ( min-width: 1024px ){
  .header__content{
    top: 10px;
    width: 850px;
  }
  .header__input{
    width: 350px;
    height: 25px;
  }
  .header__search{
    width:80px;
    height: 25px;
  }
  .header__logo img{
    width: 50px;
    top: 5px;
  }
  .header__icon{
    top: 5px;
    font-size: 18px;
  }
}


  @media screen and ( min-width: 1200px ){
    .header{
      height: 60px;
    }
    .header__content{
      width: 1000px;
    }
    .header__input{
      width: 400px;
    }
    .header__logo img{
      width: 60px;
      top: 7px;
    }
    .header__icon{
      top: 7px;
    }
  }
    @media screen and ( min-width: 1280px ){
      .header__content{
        width: 1000px;
      }
      .header__input{
        width: 400px;
      }
    }
    @media screen and ( min-width: 1366px ){
        .header__content{
          width: 1065px;
        }
        .header__input{
          width: 500px;
        }
      }
    @media screen and ( min-width: 1535px ){
      .header__content{
        width: 1140px;
      }
      .header__input{
        width: 600px;
        height: 30px;
      }
      .header__search{
        width:80px;
        height: 30px;
      }
    }
    @media screen and ( min-width: 1680px ){
          .header__content{
            width: 1350px;
          }
        }
    @media screen and ( min-width: 1920px ){
      .header__content{
        width: 1440px;
      }
      .header__input{
         width: 700px;
      }
    }


  /* navbar ---------------*/
.navbar {
    /* max-width: 1544px; */
    height: 35px;
    background-color: #8a1322;
}
.navbar__ul{
    display: flex;
    width: 1200px;
    height: 100%;
    line-height: 35px;
    margin: 0 auto;
}
.navbar__li{
    min-width: 70px;
    list-style: none;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
}
.navbar__li i{
  margin-left:3px;
}
.navbar a{
  color: white;
}

/* 4 item first */
.four_item{
    height: 100%;
    background-color: #5d0f19;
}
.dropdown{
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(179, 0, 59, 0.5);
  min-width: 190px;
  box-shadow: 0 5px 7px 0 rgba(255, 0, 0, 0.2);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 1;
  top: 35px;
  left: 0px;

}
.dropdown-content a {
  color: #ffff;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {  background-color: #5d0f19;}

.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and ( min-width: 765px ){
  .navbar {
    height: 25px;
  }
  .navbar__ul{
    width: 700px;
    line-height: 25px;
  }
  .navbar__li{
    min-width: 45px;
    font-size: 8px;
    padding: 0 5px;
  }
  .dropdown-content{
    top: 25px;
    min-width: 100px;
  }
  .dropdown-content a{
    padding: 0px 2px;
  }
}
@media screen and ( min-width: 1024px ){
  .navbar {
    height: 30px;
  }
  .navbar__ul{
    width: 870px;
    line-height: 30px;
  }
  .navbar__li{
    min-width: 62px;
    font-size: 8px;
  }
  .dropdown-content{
    top: 30px;
    min-width: 150px;
  }
  .dropdown-content a{
    padding: 5px 3px;
  }


}
@media screen and ( min-width: 1280px ){
  .navbar__ul{
    width: 1000px;
    line-height: 30px;
  }
  .navbar__li{
    min-width: 65px;
    font-size: 10px;
  }
}

@media screen and ( min-width: 1366px ){
  .navbar__ul{
    width: 1100px;
  }
  .navbar__li{
    min-width: 72px;
    font-size: 12px;
  }
}
@media screen and ( min-width: 1535px ){
  .navbar__ul{
    width: 1200px;
  }
  .navbar__li{
    min-width: 70px;
    font-size: 13px;
  }
}
@media screen and ( min-width: 1680px ){
  .navbar__ul{
    width: 1400px;
  }
  .navbar__li{
    min-width: 90px;
  }
}
@media screen and ( min-width: 1920px ){
  .navbar__ul{
    width: 1500px;
  }
  .navbar__li{
    min-width: 110px;
    font-size: 15px;
  }
}

/* banner--------- */
.banner{
  /* max-width: 1544px; */
  height: 400px;
  background-image: url("../image/banner.jpg");
  background-size: cover;
  position: relative;
}

/* banner content  */
.banner__content{
  width: 900px;
  position: absolute;
  top : 36%;
  left: 50%;
  transform : translate(-50%, -50%);

}
/* phần dãy select bên dưới */
.banner__bar{
  display: flex;
  justify-content :  space-between;
  margin-top: 40px;
 
}
.label{
  float: left;
}
/* từng phần select */
.banner__input{
  width: 220px;
  margin-right: 10px;
  height: 40px;
  
}
.banner__input:last-child {
  width: 160px;
  
}
/* phần ô select */
.banner__input .select{
  width: 100%;
  height: 40px;
  padding: 8px 5px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #ffff;
  color: rgb(68, 68, 68);
  font-size: 14px;
}
/* title of banner */
.banner__title , .banner__text , .banner__label{
  color: white;
  font-weight: bold;
  line-height: 1.2;
}
.banner__title{
  font-size: 36px;
  text-align: center;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.8);
  padding-bottom: 5px;
}
.banner__text{
  font-size: 16px;
  text-align: center;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.8);
}
.banner__label{
  font-size: 14px;
  margin-top: 30px;
}

.banner__input .banner__button {
  font-family: myriad-pro, sans-serif;
  background-color: #d30c0f;
  font-size: 14px;
  box-shadow: 0px 4px 0px 0px #7a1a1b;
  
 
}
.banner__button a{
  color: rgb(255, 255, 255);
}


@media screen and ( min-width: 765px ){
  .banner{
    height: 200px;
  }
  .banner__content {
    width: 520px;
  }
  .banner__input{
    width: 130px;
    height: 20px;
  }
  .banner__title{
    font-size: 20px;
  }
  .banner__text , .banner__label{
    font-size: 10px;
  }
  .banner__bar{
    margin-top: 15px;
  }
  .banner__input .select{
    height: 20px;
    font-size: 9px;
    padding: 0px 0px;
  }
  .banner__input:last-child {
    width: 80px;

  }

}

@media screen and ( min-width: 1280px ){
  .banner{
    height: 400px;
  }
  .banner__content {
    width: 730px;
  }
  .banner__title{
    font-size: 25px;
    padding-bottom: 5px;
  }
  .banner__text{
    font-size: 14px;
  }
  .banner__bar{
    margin-top: 30px;
  }
  .banner__input{
    width: 180px;
  }
  .banner__input .select{
    height: 25px;
    font-size: 9px;
    padding: 5px 10px;
  }
  .banner__input:last-child {
    width: 100px;

  }
}

@media screen and ( min-width: 1535px ){
  .banner__content {
    width: 850px;
  }
  .banner__text{
    font-size: 16px;
  }
  .banner__input{
    width: 220px;
  }
  .banner__input .select{
    height: 40px;
    padding: 8px 5px;
    font-size: 14px;
  }
  .banner__input{
    width: 220px;
    margin-right: 10px;
    height: 40px;

  }
  .banner__input:last-child {
    width: 160px;

  }

}
@media screen and ( min-width: 1920px ) {
  .banner__content {
    width: 1040px;
  }
  .banner__title{
    font-size: 32px;
    padding-bottom: 10px;
  }
  .banner__text{
    font-size: 20px;
  }
  .banner__input{
    width: 260px;
  }
}

/* gallery */
.gallery{
  /* max-width: 1544px; */
  margin: 50px auto;

}
.gallery a{
  color: #ffffff;
}
.gallery__content {
  /*max-width: 1140px;*/
  display: flex;
  justify-content :  space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  
}
.gallery__col{
  width: 280px;
}
/* phan title cua gallery */
.gallery__title{
  font-size: 24px;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
}
.gallery__item{
  position: relative;
  margin-bottom: 10px;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
}

/* noi dung ben trong cac image */
.gallery__item .item__content{
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.gallery__item img{
  display: block;
  width: 100%;
  height: 100%;
}
.gallery__item .item__content p:first-child{
  font-size: 18px;
  font-weight: bold;
}
.gallery__item .item__content p:last-child{
  font-size: 12px;
  font-weight: 300;
}
@media screen and ( min-width: 765px ){
  .title{
    font-size: 18px;
  }
  .gallery{
    margin: 30px auto;
  }
  .gallery__content {
    width:600px;
  }
  .gallery__col{
    width: 145px;
  }
  .gallery__title{
    font-size: 18px;
  }
  .gallery__item{
    margin-bottom: 5px;
  }
  .gallery__item .item__content p:first-child {
    font-size: 12px;
  }
  .gallery__item .item__content p:last-child{
    font-size: 8px;
  }
  .gallery__item .item__content{
    bottom: 5px;
  }


}
@media screen and ( min-width: 1024px ){
  .gallery__content {
    width:800px;
  }
  .gallery__col{
    width: 195px;
  }
}



@media screen and ( min-width: 1280px ){
  .gallery__content {
    width:1000px;
  }
  .gallery__col{
    width: 242px;
  }
  .gallery__item{
    margin-bottom: 8px;
  }
  .gallery__item .item__content p:first-child {
    font-size: 16px;
  }
  .gallery__item .item__content p:last-child{
    font-size: 12px;
  }
  .gallery__item .item__content{
    bottom: 8px;
  }
}

@media screen and ( min-width: 1366px ){
  .gallery__content {
    width:1100px;
  }
  .gallery__col{
    width: 265px;
  }
}
@media screen and ( min-width: 1535px ){
  .gallery__content {
    width: 1140px;
  }
  .gallery__col{
    width: 280px;
  }
  .gallery__item .item__content{
    bottom: 15px;

  }
  .gallery__item .item__content p:first-child{
    font-size: 18px;
  }
  .gallery__item .item__content p:last-child{
    font-size: 12px;
  }
}
@media screen and ( min-width: 1680px ){
  .gallery__content {
    width: 1470px;
  }
  .gallery__col{
    width: 360px;
  }
}
@media screen and ( min-width: 1920px ){
  .gallery{
    padding-top: 30px;
  }
  .gallery__content {
    width: 1600px;
  }
  .gallery__col{
    width: 390px;
  }
  .gallery__title{
    font-size: 30px;
    padding-bottom: 40px;
  }
}



/* end gallery */

/* slider */
.slider{
  /* max-width: 1544px; */
  margin: 0 auto;
}
.slider__item a{
  color: white;
}
/* title and text at head of slide */
.slider__header{
  text-align: center;
  padding-bottom: 30px;
}
.slider__text{
  font-size: 16px;
  color: #6e6e6e;
}
/* dàn hàng ngang */
.slider__content{
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
/* set style cua 1 slide */
.slider__item{
  width: 365px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  

}
/* set style cho phần top */
.slider__item .item__top{
  width: 100%;
  height: 290px;
  position: relative; 
  background-size: cover;
  overflow: hidden;
}
.slider__item .item__top .imageslider{
  display: block;
  width: 100%;
  height: 100%;
}

/* set vi tri cua phan noi dung hinh anh */
.slider__item .item__content{
  position: absolute;
  bottom: 20px;
  left: 25px;
  width: 100%;
  color: white;
}
/* set phan title trong slide */
.slider__item .item__title{
  font-weight: 600;
  font-size: 24px;
}
.slider__item .item__number , .item__point{
  font-size: 13px;
}
/*ô số mau đỏ */
.item__number {
  display: inline-block;
  width: 32px;
  height: 20px;
  border-radius: 10px;
  background-color: #d30c0f;
  color: white;
  font-size: 13px;
  line-height: 20px;
  text-align: center;

}

/* phan discount màu vàng phía trên bên phải */
.slider__item .item__discount{
  position: absolute;
  right: -27px;
  top: -3px;
  padding: 10px 20px 5px 20px;
  background-color: #ffb13c;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transform: rotate(45deg);
}

/* phần footer (reser) của slider */
.slider__item .item__reser{
  padding: 5px 15px 15px 15px;
  line-height: 28px;
}
.slider__item .item__reser p{
  color: #444444;
}
.slider__item .reser__button{
  float: right;
  width: 130px;
  height: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px #6a1415;
  background-color: rgb(211, 12, 15);
  color: #ffff;
}
.slider__item .reser__cost{
  font-size: 30px;
  font-weight: 600;
}

@media screen and ( min-width: 765px ){
  .slider__content {
    width:600px;
    line-height: 15px;
  }
  .slider__item{
    width: 190px;
  }
  .slider__item .item__top{
    width: 100%;
    height: 150px;
  }
  /* title and text at head of slide */
  .slider__text{
    font-size: 14px;
  }
  /* set vi tri cua phan noi dung hinh anh */
  .slider__item .item__content{
    bottom: 10px;
    left: 15px;
  }
  .slider__item a{
    font-size: 10px;
  }
  /* set phan title trong slide */
  .slider__item .item__title{
    font-size: 16px;
  }
  .slider__item .item__number , .item__point{
    font-size: 8px;
  }

  /*ô số mau đỏ */
  .item__number {
    width: 16px;
    height: 10px;
    font-size: 8px;
    line-height: 10px;
  }

  /* phan discount màu vàng phía trên bên phải */
  .slider__item .item__discount{
    right: -22px;
    top: -3px;
    font-size: 10px;
  }

  /* phần footer (reser) của slider */
  .slider__item .item__reser{
    padding: 5px 15px 15px 15px;
    line-height: 28px;
  }
  .slider__item .reser__button{
    width: 130px;
    height: 30px;
    border-radius: 4px;

  }
  .slider__item .reser__cost{
    font-size: 30px;
  }

  /* phần footer (reser) của slider */
  .slider__item .item__reser{
    padding: 5px 15px 15px 15px;
    line-height: 20px;
  }

  .slider__item .reser__button{
    width: 100px;
    height: 25px;
  }
  .slider__item .reser__cost{
    font-size: 20px;
  }
  .slider__item .item__reser p {
    font-size: 15px;
  }

}
@media screen and ( min-width: 1024px ) {
  .slider__content {
    width: 800px;
  }

  .slider__item {
    width: 255px;
  }

  .slider__item a {
    font-size: 12px;
  }

  /* set phan title trong slide */
  .slider__item item__content .item__title {
    font-size: 20px;
  }

}

  @media screen and ( min-width: 1280px ) {
    .slider__content {
      width: 1000px;
    }

    .slider__item {
      width: 320px;
    }

    .slider__item .item__top {
      width: 100%;
      height: 200px;
    }
  }

  @media screen and ( min-width: 1366px ) {

    .slider__content {
      width: 1100px;
    }

    .slider__item {
      width: 350px;
      /*height: 450px;*/
    }

    .slider__item .item__top {
      width: 100%;
      height: 290px;
    }
  }
  @media screen and ( min-width: 1535px ) {
    .slider__content {
      width: 1140px;
    }
    .slider__text{
      font-size: 16px;
    }

    /* set style cua 1 slide */
    .slider__item {
      width: 365px;
    }

    /* set vi tri cua phan noi dung hinh anh */
    .slider__item .item__content{
      bottom: 20px;
      left: 25px;
      line-height: 24px;

    }
    .slider__item .item__content .item__decript{
      font-size: 18px;
      font-size: 18px;
      font-size: 18px;
    }
    /* set phan title trong slide */
    .slider__item .item__title{
      font-size: 24px;
    }
    .slider__item .item__number , .item__point{
      font-size: 13px;
    }
    /*ô số mau đỏ */
    .item__number {
      width: 32px;
      height: 20px;
      font-size: 13px;
      line-height: 20px;

    }

    /* phan discount màu vàng phía trên bên phải */
    .slider__item .item__discount{
      right: -27px;
      top: -3px;
      font-size: 15px;
    }

    /* phần footer (reser) của slider */
    .slider__item .item__reser{
      line-height: 28px;
    }
    .slider__item .reser__button{
      width: 130px;
      height: 30px;
    }
    .slider__item .reser__cost{
      font-size: 30px;
    }
  }

  @media screen and ( min-width: 1680px ) {
    .slider__content {
      width: 1470px;
    }

    .slider__item {
      width: 450px;
      height: 450px;
    }

    .slider__item .item__top {
      height: 350px;
    }
  }

  @media screen and ( min-width: 1920px ) {
    .slider__content {
      width: 1600px;
    }

    .slider__item {
      width: 500px;
      height: 450px;
    }

    .slider__item .item__top {
      height: 350px;
    }
    .slider__title{
      font-size: 30px;
    }
    .slider__text{
      font-size: 23px;
    }

  }


  /* end slider */
  /* start menu ********/
  .menu {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 70px auto;
  }

  .menu__title {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
  }

  .menu__col {
    width: 365px;
  }

  .menu__item {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 10px;
    background: #ffff;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);

  }

  .menu__item .item__title {
    font-weight: 600;
    font-size: 18px;
  }

  .menu__item .item_decript {
    font-size: 14px;
    color: #444444;
    padding-bottom: 15px;
  }

  .menu__item .item__point {
    font-size: 13px;
    color: #444444;
    font-weight: 600;
  }

  .menu__item .item__cost {
    font-size: 14px;
    float: right;
    font-weight: bold;
  }

  .menu__item .item__cost b {
    font-size: 20px;
  }

  @media screen and ( min-width: 770px ) {
    .menu {
      width: 600px;
      margin: 50px auto;
    }

    .menu__col {
      width: 190px;
    }

    .menu__title {
      font-size: 12px;
      padding-bottom: 10px;
    }

    .menu__item {
      margin-bottom: 10px;

    }

    .menu__item .item__title {
      font-size: 16px;
    }

    .menu__item .item_decript {
      font-size: 12px;
      padding-bottom: 10px;
    }

    .menu__item .item__point {
      font-size: 6px;
    }

    .menu__item .item__cost {
      padding-top: 3px;
      font-size: 8px;
    }

    .menu__item .item__cost b {
      font-size: 12px;
    }

  }
@media screen and ( min-width: 1024px ) {
  .menu {
    width: 800px;
    margin: 50px auto;
  }

  .menu__col {
    width: 255px;
  }

  .menu__item .item_decript {
    font-size: 12px;
    padding-bottom: 10px;
  }

  .menu__item .item__point {
    font-size: 8px;
  }

  .menu__item .item__cost {
    padding-top: 3px;
    font-size: 10px;
  }
  .menu__item .item__cost b {
    font-size: 14px;
  }

}
  @media screen and ( min-width: 1280px ) {
    .menu {
      width: 1000px;
    }
    .menu__col {
      width: 320px;
    }
  }
  @media screen and ( min-width: 1366px ) {
    .menu {
      width: 1100px;
    }

    .menu__col {
      width: 350px;
    }
  }
  @media screen and ( min-width: 1435px ) {
    .menu {
      width: 1140px;
    }
    .menu__col {
      width: 365px;
    }
    .menu__item .item__point {
      font-size: 12px;
    }
    .menu__item .item__cost {
      padding-top: 3px;
      font-size: 13px;
    }
    .menu__item .item__cost b {
      font-size: 18px;
    }
  }
  @media screen and ( min-width: 1680px ) {
    .menu {
      width: 1470px;
    }
    .menu__col {
      width: 450px;
    }
  }
  @media screen and ( min-width: 1920px ) {
    .menu {
      width: 1600px;
    }
    .menu__title {
      font-size: 24px;
    }
    .menu__col {
      width: 500px;
    }
    .menu__item {
      height: 200px;
      padding: 15px 15px;
    }
    .menu__item .item__content{
      line-height: 30px;
    }
    .menu__item .item__title {
      font-size: 24px;
    }
    .menu__item .item_decript {
      font-size: 18px;
      padding-bottom: 20px;
    }
    .menu__item .item__point {
      font-size: 15px;
    }

    .menu__item .item__cost {
      font-size: 20px;
    }

    .menu__item .item__cost b {
      font-size: 24px;
    }
    .item__number{
      width: 45px;
      height: 30px;
      font-size: 15px;
      line-height: 30px;
    }

  }


  /* end menu */
  /* <!-- start registment (màu đỏ phía dưới) --> */
  .registment {
    /* max-width: 1544px; */
    background-color: #8a1322;

  }

  .registment__content {
    width: 972px;
    display: flex;
    margin: 0 auto;
    padding: 30px 0;
  }

  .registment__text {
    width: 50%;
    text-align: right;
    color: white
  }

  .registment__text p:first-child {
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: 600;
  }

  .registment__text p:last-child {
    font-size: 16px;
    font-weight: 300;
  }

  .registment__button {
    width: 50%;
    padding-left: 50px;
  }

  .registment__button button {
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 134, 136);
    box-shadow: 0px 4px 0px 0px rgba(106, 20, 21, 0.004);
    width: 160px;
    height: 40px;
    position: relative;
    top: 30px;
  }

  .registment__button a {
    color: #6a1415;
  }

  @media screen and ( min-width: 765px ) {
    .registment__content {
      width: 500px;
    }

    .registment__text p:first-child {
      font-size: 14px;
      padding-bottom: 10px;
    }

    .registment__text p:last-child {
      font-size: 8px;
    }

    .registment__button {
      padding-left: 20px;
    }

    .registment__button button {
      top: 15px;
      width: 100px;
      height: 25px;
      font-size: 10px;
    }
  }
@media screen and ( min-width: 1024px ) {
  .registment__content {
    width: 600px;
  }

  .registment__text p:first-child {
    font-size: 15px;
  }

  .registment__text p:last-child {
    font-size: 10px;
  }

}
@media screen and ( min-width: 1280px ) {
  .registment__content {
    width: 800px;
  }

  .registment__text p:first-child {
    font-size: 18px;
  }

  .registment__text p:last-child {
    font-size: 13px;
  }

}
@media screen and ( min-width: 1536px ) {
  .registment__content {
    width: 900px;
  }
  .registment__button {
    width: 50%;
    padding-left: 50px;
  }


  .registment__button button {
    font-size: 14px;
    width: 160px;
    height: 40px;
    top: 15px;
  }



}
  @media screen and ( min-width: 1920px ) {
    .registment__content {
      width: 1330px;
      padding: 50px 0;
    }

    .registment__text p:first-child {
      font-size: 30px;
    }

    .registment__text p:last-child {
      font-size: 20px;
    }

    .registment__button button {
      font-size: 20px;
      width: 250px;
      height: 60px;
      top: 25px;
    }
  }
  .footer {
    background: black;
    color: white;

  }

  .footer a {
    color: #ffffff;
  }

  .footer__contenttop {
    width: 1140px;
    margin: auto;
    display: flex;
    font-size: 14px;
    color: gray;
    font-weight: 300;
    padding-top: 30px;
  }

  .footer__contenttop .footer__col {
    width: 33%;
  }

  .footer__contenttop .footer__col dt {
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 15px;
  }
  .footer__col dd a {
    color: #6e6e6e;
  }
.footer__contenttop .footer__col .col__item {
    margin-bottom: 20px;
  }

  .footer__contenttop .col3 img {
    position: relative;
    top: 50px;
  }

  .footer__title {
    font-weight: 400;
  }

  .footer__contentbot {
    text-align: center;
  }

  .footer__contentbot .footer__title {
    padding: 40px 0px 20px 0px;
  }

  .footer__contentbot .social__icons i {
    color: white;
    width: 50px;
    font-size: 30px;
  }

  .footer__contentbot .paycard {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 15px 100px;
    border: 1px solid #404040;
  }

  .footer__contentbot .paycard li {
    list-style: none;
    padding: 0px 15px;
  }

  .footer__contentbot .paycard li img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .footer_dac {
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .footer_dac img {
    position: relative;
    top: 7px;
  }

  .footer__logo img {
    height: 32px;
    width: 80px;
  }

  .copyright {
    font-size: 12px;
    color: #444;
  }

  @media screen and ( min-width: 765px ) {
    .footer__contenttop {
      width: 500px;
      font-size: 10px;
      color: #6e6e6e;
    }

    .footer__contenttop .footer__col dt {
      font-size: 12px;
      padding-bottom: 5px;
    }

    .footer__contentbot .paycard {
      width: 80%;
      padding: 10px 30px;
    }

    .footer__contentbot .paycard li {
      padding: 0px 10px;
    }



    .footer__contenttop .footer__col .col__item {
      margin-bottom: 10px;
    }

    .footer__contentbot .footer__title {
      padding: 20px 0px 10px 0px;
    }

    .footer__col img {
      width: 100px;
      height: 30px;
    }

    .footer__contentbot .social__icons i {
      font-size: 20px;
      width: 30px;
    }

    .footer__contentbot .footer__title {
      font-size: 15px;
      padding: 10px 0 5px 0;
      font-size: 15px;
    }
  }

@media screen and ( min-width: 1024px ) {
  .footer__contenttop {
    width: 600px;
    font-size: 10px;
  }

  .footer__contenttop .footer__col dt {
    font-size: 12px;
    padding-bottom: 5px;
  }

  .footer__contenttop .footer__col .col__item {
    margin-bottom: 10px;
  }

  .footer__contentbot .footer__title {
    padding: 20px 0px 10px 0px;
  }
}
  @media screen and ( min-width: 1280px ) {
    .footer__contenttop {
      width: 800px;
    }

  }

  @media screen and ( min-width: 1366px ) {
    .footer__contenttop {
      width: 800px;
    }
    .footer__contentbot .footer__title {
      font-size: 18px;
      padding: 15px 0 13px 0;
    }
  }

  @media screen and ( min-width: 1536px ) {
    .footer__contenttop {
      width: 900px;
    }

    .footer__contenttop .footer__col dt {
      font-size: 14px;
    }

  }
  @media screen and ( min-width: 1680px ) {
    .footer__contenttop {
      width: 900px;
    }

    .footer__contenttop .footer__col dt {
      font-size: 16px;
    }

  }

  @media screen and ( min-width: 1920px ) {
    .footer__contenttop {
      width: 1330px;
      font-size: 18px;
    }
    .footer__contenttop .footer__col dd {
    padding-bottom: 10px;
    }
  }
    .footer__contenttop .footer__col dt {
      font-size: 18px;

    }

    .footer__contentbot .social__icons i {
      font-size: 20px;
      width: 30px;
    }

    .footer__contentbot .footer__title {
      font-size: 15px;
      padding: 10px 0 5px 0;
      font-size: 15px;
    }
    /*.menu__col{*/
    /*  width: 500px;*/
    /*}*/




