header, section, footer, aside, nav, main, article, figure {
    display: block; 
  }

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body{
    font-size: 18px;
    color: black;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    background: #f0f0f0;
    
  }
  /* style all title */
  .title{
    font-size: 25px; 
    text-align: center;
  }
  
  /* Header */
  .header{
      width: 100%;
      height: 80px;
      position: relative;
      background-color: #a21527;
  }
  .header__content{
      width: 80%;
      height: 60px;
      margin: 0 auto;
      
  }
  /* Header logo city */
  /* .header__logo{
    width:80px;
    
  } */
  .header__logo img{
    display: inline-block;
    width:80px;
    height: auto;
    position: relative;
    top: 15px;
    margin:0 40px 0 20px;
  }

  .header__input{
    padding-left: 10px;
     min-width: 750px;
     height: 35px;
     outline: none;
  }
  .header__search{
    width:77px;
    height: 35px;
    outline: none;
    border: none;
    background-color: #480d15;
  }
  /* set icon color  */
  .icon{
    color: white;
    
  }
  .header__icon{
      float: right;
      position: relative;
      top: 15px;
  }


  /* navbar ---------------*/
.navbar {
    width: 100%;
    height: 30px;
    background-color: #8a1322;
}
.navbar__ul{
    display: flex;
    width: 80%;
    height: 100%;
    line-height: 30px;
    margin: 0 auto;
}
.navbar__li{
    min-width: 7%;
    list-style: none;
    padding: 0 10px;
    color: white;
    font-size: 15px;
}
.navbar__li i{
  margin-left:3px;
}

/* 4 item first */
.four_item{
    height: 100%;
    background-color: #5d0f19;
}

/* banner--------- */
.banner{
  width: 100%;
  height: 400px;
  background-image: url("../image/banner.jpg");
  background-size: cover;
  position: relative;
}

/* banner content  */
.banner__content{
  max-width: 55%;
  position: absolute;
  top : 50%;
  left: 50%;
  transform : translate(-50%, -50%);

}
/* phần dãy select bên dưới */
.banner__bar{
  display: flex;
  justify-content :  space-between;
  margin-top: 40px;
 
}
.label{
  float: left;
}
/* từng phần select */
.banner__input{
  width: 27%;
  
}
.banner__input:last-child {
  width: 15%;
}
/* phần ô select */
.banner__input .select{
  font-family: myriad-pro, sans-serif;
  width: 100%;
  height: 40px;
  padding: 8px 5px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #ffff;
  color: rgb(68, 68, 68);
  font-size: 14px;
  /* font-weight: 300; */
  
}
/* title of banner */
.banner__title , .banner__text , .banner__label{
  color: white;
  font-weight: bold;
  line-height: 1.2;
}
.banner__title{
  font-size: 36px;
  text-align: center;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.8);
}
.banner__text{
  font-size: 16px;
  text-align: center;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.8);
}
.banner__label{
  font-size: 14px;
  margin-top: 30px;
}

.banner__input .banner__button{
  font-family: myriad-pro, sans-serif;
  background-color: #d30c0f;
  font-size: 14px;
  color: rgb(255, 255, 255);
 
}

/* gallery */
.gallery{
  width: 76%;
  margin: 50px auto;

}
.gallery__content {
  display: flex;
  justify-content :  space-between;
  flex-wrap: wrap;
  
}
.gallery__col{
  width: 24.3%;
}
/* phan title cua gallery */
.gallery__title{
  font-size: 24px;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
}
.gallery__item{
  position: relative;
  margin-bottom: 15px;
  border-radius: 3px;
  overflow: hidden;
}

/* noi dung ben trong cac image */
.gallery__item .item__content{
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.gallery__item img{
  display: block;
  width: 100%;
  height: 100%;
}
.gallery__item .item__content p:first-child{
  font-size: 18px;
  
  font-weight: bold;
}
.gallery__item .item__content p:last-child{
  font-size: 12px;
  font-weight: 300;
}
/* .gallery__content .item8{
    width: 280px;
    height: 245px;
  
}
.gallery__content .item4{
  width: 280px;
  height: 155px;
}

.gallery__content .item3{
  width: 280px;
  height: 200px;
} */

/* end gallery */

/* slider */
.slider{
  width: 75%;
  margin: 0 auto;
}
/* title and text at head of slide */
.slider__header{
  text-align: center;
  padding-bottom: 30px;
}
.slider__text{
  font-size: 16px;
  color: #6e6e6e;
}
/* dàn hàng ngang */
.slider__content{
  display: flex;
  justify-content: space-between;
}
/* set style cua 1 slide */
.slider__item{
  width: 32%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  

}
/* set style cho phần top */
.slider__item .item__top{
  width: 100%;
  height: 290px;
  position: relative; 
  background-size: cover;
  overflow: hidden;
}
/* background cho từng item */
.slider__content .item1 .item__top{
  background-image: url("../image/slider1.jpg");
}
.slider__content .item2 .item__top{
  background-image: url("../image/slider2.jpg");
}
.slider__content .item3 .item__top{
  background-image: url("../image/slider3.jpg");
}

/* set vi tri cua phan noi dung hinh anh */
.slider__item .item__content{
  position: absolute;
  bottom: 20px;
  left: 25px;
  width: 100%;
  color: white;
}
/* set phan title trong slide */
.slider__item .item__title{
  font-weight: 600;
  font-size: 24px;
}
.slider__item .item__number , .item__point{
  font-size: 13px;
}
/*ô số mau đỏ */
.item__number {
  display: inline-block;
  width: 32px;
  height: 20px;
  border-radius: 10px;
  background-color: #d30c0f;
  color: white;
  font-size: 13px;
  line-height: 20px;
  text-align: center;

}

/* phan discount màu vàng phía trên bên phải */
.slider__item .item__discount{
  position: absolute;
  right: -27px;
  top: -3px;
  padding: 10px 20px 5px 20px;
  background-color: #ffb13c;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transform: rotate(45deg);
}

/* phần footer (reser) của slider */
.slider__item .item__reser{
  padding: 5px 15px 15px 15px;
  line-height: 28px;
}
.slider__item .item__reser p{
  color: #444444;
}
.slider__item .reser__button{
  float: right;
  width: 130px;
  height: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px #6a1415;
  background-color: rgb(211, 12, 15);
  color: #ffff;
}
.slider__item .reser__cost{
  font-size: 30px;
  font-weight: 600;
}
/* end slider */


/* start menu ********/
.menu{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 70px auto;
}
.menu__title{
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20px; 
}
.menu__col{
  width: 32%;
}
.menu__item{
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 10px;
  background: #ffff;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  
}
.menu__item .item__title{
  font-weight: 600;
  font-size: 18px;
}
.menu__item .item_decript {
  font-size: 14px;
  color: #444444;
  padding-bottom: 15px;
}
.menu__item .item__point{
  font-size: 13px;
  color: #444444;
  font-weight: 600;
}
.menu__item  .item__cost{
  font-size: 14px;
  float: right;
  font-weight: bold;
}
.menu__item  .item__cost b{
  font-size: 20px;
}

/* end menu */

/* <!-- start registment (màu đỏ phía dưới) --> */
.registment{
  width: 100%;
  background-color:#8a1322;
  
}
.registment__content{
  width:63%;
  display: flex;
  margin: 0 auto;
  
  padding: 30px 0;
}
.registment__text{
  width: 50%;
  text-align: right;
  color: white
}
.registment__text p:first-child{
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 600;
}
.registment__text p:last-child{
  font-size: 16px;
  font-weight: 300;
}
.registment__button{
  width: 50%;
  padding-left: 50px;  
}
.registment__button button{
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  color: #6a1415;
  background-color: rgb(255, 134, 136);
  box-shadow: 0px 4px 0px 0px rgba(106, 20, 21, 0.004);
  width: 160px;
  height: 40px;
  position: relative;
  top: 30px;
}
/* footer */
.footer{
  width: 100%;
  background: black;
  color: white;
  
}

.footer__contenttop{
  width: 80%;
  margin:  auto;
  display: flex;
  font-size: 14px;
  color: gray;
  font-weight: 300;
  padding-top: 30px;
}
.footer__contenttop .footer__col{
  width: 33%;
}

.footer__contenttop .footer__col dt{
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 15px;
}

.footer__contenttop .footer__col .col__item{
  margin-bottom: 20px;
}

.footer__contenttop .col3 img{
  position: relative;
  top: 50px;
}
.footer__title{
  font-weight: 400;
}

.footer__contentbot{
  text-align: center;
}
.footer__contentbot .footer__title{
  padding: 40px 0px 20px 0px;
}
.footer__contentbot .social__icons i{
  color: white;
  width: 50px;font-size: 30px;
}
.footer__contentbot .paycard{
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 15px 100px;
  border: 1px solid gray;
}
.footer__contentbot .paycard li{
  list-style: none;
  padding: 0px 15px;
}
.footer__contentbot .paycard li img{
  display: block;
  width: 100%;
  height: 100%;
}
.footer_dac{
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.footer_dac img{
  position: relative;
  top: 7px;
}
.footer__logo img{
  height: 32px;
  width: 80px;
}
.copyright{
  font-size: 12px;
    color: #444;
}